* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  margin: 0;
}

/* ....---------------ROOT  KISMI -------------......... */
:root {
  --renk1: rgb(134, 1, 116);
  --renk2: rgba(134, 1, 116, 0.849);
  --renk3: rgb(144, 144, 144);
  --renk4: rgb(211, 211, 211);
  --renk5: rgb(37, 37, 37);
}

/* ....---------------NAVBAR KISMI -------------......... */
.navbar {
  z-index: 10;
}
.nav-link {
  color: black !important;
}

.nav-link i {
  color: purple;
  margin-right: 10px;
}

#navbarNavDropdown {
  margin-right: 10px;
}

/* ....---------------MAIN KISMI -------------......... */
main {
  background-image: url("../images/header-bg.jpeg");
  height: 100vh;
  width: 100%;
  /*margin-top: 40px ; --->bunu yazinca navbari baz alarak yukardan margin veriyor. Navbara position:fixed dedigim icin Nedeni ne bunun ? */
  background-size: cover;
  text-align: center;
}

.yazilar p:nth-child(1) {
  font-size: 25px;
  font-weight: 300;
}

.yazilar p:nth-child(2) {
  font-size: 1rem;
}

.yazilar button {
  background-color: rgba(15, 14, 14, 0.5);
  border: 2px solid white;
  width: 200px;
  height: 50px;
  border-radius: 100px;
  color: white;
  font-weight: 600;
  margin-bottom: 30px;
}

.fa-computer-mouse {
  font-size: 2rem;
  color: white;
}
h5 span.isim {
  color: var(--renk1) !important;
  font-style: italic;
}

section h3 {
  font-weight: 1000;
  font-size: 2rem;
}

/* ....---------------NEDEN SELIM KISMI -------------......... */

.selim-img img {
  width: 100%;
  background-color: aqua;
}

.icons a {
  border: 1px solid var(--renk3);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: inline-block;
  font-size: 1.5rem;
  position: relative;
  margin-right: 1rem;
}

.icons i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--renk1);
}

/* ....---------------HIZMETLERIMIZ KISMI -------------......... */

.hizmetlerimiz .cizgi {
  width: 65px;
  height: 3px;
  background-color: var(--renk2) !important;
  margin: 10px auto;
}

.baslik-yazi {
  margin-top: -10px;
}
.fa-arrow-down-up-lock {
  color: var(--renk1) !important;
}
.container-fluid {
  padding: 0 90px !important;
}

.card {
  border: 1px solid var(--renk3) !important;
  border-radius: 15px !important;
  padding: 8px;
}

.card i {
  margin-top: 15px;
  color: var(--renk3) !important;
  margin-bottom: 20px;
}
.card h3 {
  font-size: 1.5rem;
}

.card p {
  font-size: 1rem;
  color: var(--renk3);
}

/* ....---------------MÜSTERILERIMIZ NE DEDI(BESINCI) KISMI -------------......... */

.besinci-kisim {
  background-color: var(--renk4);
  padding: 30px;
  margin-top: 85px;
}
.besinci-kisim h3 {
  letter-spacing: 8px;
  font-weight: 1000;
}
.besinci-kisim img {
  border-radius: 50%;
  margin-bottom: 30px;
  margin-top: 15px;
}

.besinci-kisim p {
  margin-top: -12px;
  color: var(--renk3);
}

.besinci-kisim .container-fluid {
  margin-top: 50px;
}

.besinci-kisim .alt-yazi1 {
  color: black !important;
  font-style: italic;
}

.besinci-kisim .alt-yazi2 {
  color: black !important;
}
.besinci-kisim .alt-yazi2 b {
  font-weight: 1000;
}

/* ....---------------REFERANSLARIMIZ KISMI -------------......... */
nav .nav-referanslar {
  margin: auto;
  flex-wrap: nowrap !important;
}

nav .nav-referanslar button {
  color: var(--renk1) !important;
}

.referanslar {
  margin-top: 100px;
}
.referanslar header {
  text-align: center;
  margin-bottom: 50px;
}

.referanslar h3 {
  font-size: 2rem !important;
  letter-spacing: 8px;
  margin-top: 12px;
  font-weight: 900 !important;
}

.referanslar p {
  margin-top: -12px;
  color: var(--renk4);
}
.referanslar nav {
  margin-bottom: 40px;
}

/* resimler */

.referanslar img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 15px;
}

.tüm-resimler {
  display: flex !important;
  flex-direction: row;
  outline: 0 !important;
  border: none !important;
}

.tüm-resimler div {
  border: none !important;
  outline: 0;
}

/*----------------------------YEDINCI ILETISIM KISMI -------------------*/
/*Baslik Kismi */

.baslik-7 h3 {
  letter-spacing: 8px;
  font-weight: 800;
  font-size: 2rem;
}

.baslik-7 p {
  color: var(--renk3);
  margin-top: -12px;
}

/*icons kisim */

.icons-7 div i {
  color: var(--renk1) !important;
}
/*Form Kisim */
.iletisim {
  padding-top: 100px !important ;
  margin-top: 100px;
  background-color: var(--renk4);
}
.iletisim .row {
  width: 80%;
}
.iletisim input {
  border-radius: 16px !important;
  height: 52px;
}

.iletisim textarea {
  border-radius: 16px;
}

.iletisim button {
  width: 195px;
  height: 50px;
  border-radius: 3rem;
  text-align: center;
  margin: 10px auto 60px auto;
  background-color: rgb(85, 85, 85);
  color: white;
  font-weight: 800;
  border: 1px solid white;
}

/*-------------------------FOOTER-------------------------*/

footer {
  background-color: var(--renk5) !important;
  flex-direction: column;
}

footer .footer__icons {
  margin-top: 60px;

  margin: 3rem auto 1rem auto;
}

footer a {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-color: white;
  text-align: center;
  padding-top: 12px;
  margin-right: 10px;
  border-radius: 50%;
}

footer i {
  font-size: 24px;
  color: black;
}

.copy__part {
  margin: 0 auto 4rem auto;
}

/*SAG ALT TARAF SABIT ICONLAR */

.sabit--icon1 {
  position: fixed;
  width: 48px;
  height: 48px;
  background-color: var(--renk2);
  z-index: 30;
  bottom: 80px;
  right: 18px;
}

.sabit--icon2 {
  position: fixed;
  width: 48px;
  height: 48px;
  background-color: var(--renk2);
  z-index: 20;
  bottom: 18px;
  right: 18px;
}
